@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    foreach (var t in ViewBag.schedules)
    {
        <h1>@t.ScheduleName</h1>
        <h1>@t.ScheduleDescription</h1>
    }
}