<!DOCTYPE html>
<html lang="en">
<head>
<title>Travel System | Gallery</title>
<meta charset="utf-8">
<link rel="icon" href="~/images/LogoSystem.png">
<link rel="shortcut icon" href="~/images/LogoSystem.png">
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/touchTouch.css">
<script src="~/js/jquery.js"></script>
<script src="~/js/jquery-migrate-1.1.1.js"></script>
<script src="~/js/superfish.js"></script>
<script src="~/js/jquery.equalheights.js"></script>
<script src="~/js/jquery.easing.1.3.js"></script>
<script src="~/js/jquery.ui.totop.js"></script>
<script src="~/js/touchTouch.jquery.js"></script>
<script>
$(window).load(function () {
    $().UItoTop({
        easingType: 'easeOutQuart'
    });
});
$(function () {
    $('.gallery a.gal').touchTouch();
});
</script>
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="css/ie.css">
<![endif]-->
</head>
<body>
<header>
  <div class="container_12">
    <div class="grid_12">
                <h1><a href="/Home/index"><img src="~/images/LogoSystem.png" alt=""></a></h1>
      <div class="clear"></div>
    </div>
            <div class="menu_block">
                <nav>
                    <ul class="sf-menu">
                        <li class="current"><a href="/Home/index">Home</a></li>
                        <li class="with_ul">
                            <a href="/Home/about">About</a>
                            <ul>
                                <li><a href="/Vehicle/ViewListVehicle">Vehicle</a></li>
                                <li><a href="/Restaurant/ViewListRes">Restaurant</a></li>
                                <li><a href="Hotel/ViewListHotel">Hotel</a></li>
                                <li><a href="#">Staff</a></li>
                            </ul>
                        </li>

                        <li class="with_ul">
                            <a href="#">Booking</a>
                            <ul>
                                <li><a href="/Booking/ViewListBooking"> Booking Vehicle</a></li>
                                <li><a href="#">Booking Restaurant</a></li>
                                <li><a href="#">Booking Hotel</a></li>
                                <li><a href="#">Booking Staff</a></li>
                            </ul>
                        </li>


                        <li><a href="/Home/gallery">Gallery</a></li>
                        <li><a href="/Tours/tours">Tours</a></li>
                        <li><a href="/Home/contacts">Contacts</a></li>

                    </ul>
                </nav>
                <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</header>
<div class="main">
  <div class="content">
    <div class="container_12">
      <div class="grid_12">
        <h3>Our Gallery</h3>
      </div>
      <div class="clear"></div>
      <div class="gallery">
                    <div class="grid_4"> <a href="~/images-gallery/catba.jpg" class="gal img_inner"><img src="~/images-gallery/catba.jpg" alt=""></a> </div>
                    <div class="grid_4"> <a href="~/images-gallery/Dalat.jpg" class="gal img_inner"><img src="~/images-gallery/Dalat.jpg" alt=""></a> </div>
                    <div class="grid_4"> <a href="~/images-gallery/Den-Hung-Phu-Tho.jpg" class="gal img_inner"><img src="~/images-gallery/Den-Hung-Phu-Tho.jpg" alt=""></a> </div>
        <div class="clear"></div>
                    <div class="grid_4"> <a href="~/images-gallery/hagiang.jpg" class="gal img_inner"><img src="~/images-gallery/hagiang.jpg" alt=""></a> </div>
                    <div class="grid_4"> <a href="~/images-gallery/HaNoi.jpg" class="gal img_inner"><img src="~/images-gallery/HaNoi.jpg" alt=""></a> </div>
                    <div class="grid_4"> <a href="~/images-gallery/HoiAn.jpg" class="gal img_inner"><img src="~/images-gallery/HoiAn.jpg" alt=""></a> </div>
        <div class="clear"></div>
                    <div class="grid_4"> <a href="~/images-gallery/QuangNinh.jpg" class="gal img_inner"><img src="~/images-gallery/QuangNinh.jpg" alt=""></a> </div>
                    <div class="grid_4"> <a href="~/images-gallery/tpHoChiMinh.jpg" class="gal img_inner"><img src="~/images-gallery/tpHoChiMinh.jpg" alt=""></a> </div>
                    <div class="grid_4"> <a href="~/images-gallery/yenbai.jpg" class="gal img_inner"><img src="~/images-gallery/yenbai.jpg" alt=""></a> </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="bottom_block">
    <div class="container_12">
      <div class="grid_2 prefix_2">
        <ul>
          <li><a href="#">FAQS Page</a></li>
          <li><a href="#">People Say</a></li>
        </ul>
      </div>
      <div class="grid_2">
        <ul>
          <li><a href="#">Useful links</a></li>
          <li><a href="#">Partners</a></li>
        </ul>
      </div>
      <div class="grid_2">
        <ul>
          <li><a href="#">Insurance</a></li>
          <li><a href="#">Family Travel</a></li>
        </ul>
      </div>
      <div class="grid_2">
        <h4>Contact Us:</h4>
        TEL: 1-800-234-5678<br>
        <a href="#">info@demolink.org</a> </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<footer>
  <div class="container_12">
    <div class="grid_12">
      <div class="socials"> <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a> </div>
      <div class="copy"> Journey &copy; 2045 | <a href="#">Privacy Policy</a> | Design by: <a href="http://www.templatemonster.com/">TemplateMonster.com</a> </div>
    </div>
    <div class="clear"></div>
  </div>
</footer>
</body>
</html>